<p>get info for your package</p>
<form [formGroup]="selectPackage" (ngSubmit)="searchPack()">
    <div class="form-group">
        <label for="id">package id</label>
        <input 
            id="id" 
            type="text" 
            class = "form-control"
            formControlName="id"/>
    </div>
    <button class="btn btn-primary">submit</button>
</form>

<ul>
    <li *ngFor="let info of userData;">
        type: {{info['type']}}, length: {{info['length']}}, weight: {{info['weight']}}, breadth: {{info['breadth']}}, alternate phone number: {{info['altPhn']}}, pickup address: {{'pick'}}, drop address: {{info['drop']}}
    </li>
</ul>


